{% extends "hat.html" %}

{% block content %}
<script type="text/javascript">
    $(document).ready(function() {
        var chat_id = document.getElementById('ch_id').innerHTML;
        var user_id = document.getElementById('us_id').innerHTML;
        var namespace ='chat/';
        var socket = io.connect('https://teasst123123.herokuapp.com/' + namespace);
        console.log('http://192.168.1.7:5000/' + namespace);
        socket.on('message', function(msg) {
            $(`#messages${chat_id}`).append(`<div class="alm-left">`+msg+`</div>`);
            console.log('Received message');
        });
        $('#sendbutton').on('click', function() {
            socket.send($('#myMessage').val());
            $('#myMessage').val('');
        });
    
    });
</script>
<h2 class="t_chat">{{title}}</h2>
<div class="chat_room">
    {% for item in user_chats%}
        {% if chat_id == item.id %}
            <a class = "chat-now" href="/chat/{{item.id}}/{{current_user.id}}">{{item.title}}</a><br>
        {% else %}
            <a class = "chat" href="/chat/{{item.id}}/{{current_user.id}}">{{item.title}}</a><br>
        {% endif %}
    {% endfor %}
</div>
<div class="chat_room">
    <form class="chat_room_frm" action="" method="post">
            {{ form.hidden_tag() }}
            <div id="messages{{chat_id}}" class="bord">
                {% for item in messages%}
                    <div id="all_mes" class="alm-left">{{item.text}}<br></div>
                {% endfor %}
            </div>
            <div class="mess">
                <form id="messForm">
                    <h5>Сообщение</h5>
                    <textarea type="text" id="myMessage" class="form-control"></textarea>
                    <br>
                    <p id="sendbutton" class="btn btn-danger">Отправить</p>
                </form>
            </div>
    </form>
</div>  
<div class="chat_room">
    <a class = "new-chat" href="/create_chat/{{chat_id}}/{{current_user.id}}">Создать новый чат +</a><br>
    <a class = "bton-ch-yes" href="/chat/{{chat_id}}/{{current_user.id}}">Чаты</a><br>
    <a class = "bton-ak-no" href="/ankets/{{chat_id}}/{{current_user.id}}">Анкеты</a><br>
    {% if chat_id != 1 %}
        {% if (author != current_user.id) %}
            <a class = "exit-chat-solo" href="/yes_no_exit/{{chat_id}}/{{current_user.id}}">Выйти из чата</a><br>
        {% else %}
            <a class = "edit-chat" href="/edit_chat/{{chat_id}}/{{current_user.id}}">Редактировать чат</a><br>
            <a class = "exit-chat" href="/yes_no_exit/{{chat_id}}/{{current_user.id}}">Выйти из чата</a><br>
            <a class = "del-chat" href="/yes_no_chat/{{chat_id}}/{{current_user.id}}">Удалить чат</a><br>
        {% endif %}
    {% endif %}
</div>
<div id="ch_id" hidden>{{chat_id}}</div>
<div id="us_id" hidden>{{current_user.id}}</div>
{% if messages %}
<div id="item_id" hidden>{{messages[0].chat_id}}</div>
{% else %}
<div id="item_id" hidden>0</div>
{% endif %}
{% endblock %}  